/* *{
    margin: 0%;
    padding: 0%;
} */
/* 
#heading {
    color:burlywood;
    background-color: black;
}
.myClass{
    color: blanchedalmond;
    background-color: black;
}
body{
    background-color: pink;
}

button{
    background-color: black;
    color: white;
}

#box{
    color: blanchedalmond;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(222, 108, 102);
} */

.content{
    color: coral;
}

.newClass{
    background-color: green;
}